@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes flowLine {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
